Orlando_Buzz_News_Publisher.json
{
  "name": "Orlando Buzz News Publisher",
  "nodes": [
    {
      "parameters": {
        "query": "Orlando local technology news",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-googlesearch.googleSearch",
      "typeVersion": 1,
      "position": [
        -560,
        300
      ],
      "id": "b24f9110-f160-4253-8b41-70d401b0356d",
      "name": "Google Search",
      "alwaysOutputData": false,
      "credentials": {
        "googleSearchApi": {
          "id": "sD4HlutYqKMc3f0P",
          "name": "Google Search account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -340,
        300
      ],
      "id": "d85f6626-3600-429e-b6a5-1e7cb07e1e7a",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        320
      ],
      "id": "c150aeaa-954b-4b5b-a773-2ee344d9ccaa",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "body",
              "cssSelector": "body",
              "skipSelectors": "img, meta"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        320,
        300
      ],
      "id": "ea2d0f9e-4da3-48d7-af02-d6b518b3a561",
      "name": "HTML"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=There is a technology news story in this HTML:\n {{ $json.body }}\nFind and extract the news story. Then write a concise summary with the highlights.  Present the highlights as a news story and not a summary.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        540,
        300
      ],
      "id": "3adc0c2b-9765-470b-b7d5-58c000641c73",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-sonnet-4-20250514",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 4"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        420,
        520
      ],
      "id": "9c00e2e9-28b1-4537-a2e4-56daf84fde9e",
      "name": "Anthropic Chat Model1",
      "credentials": {
        "anthropicApi": {
          "id": "5uhIBPeebyEXxpX4",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2336e20c-c8e8-458e-b592-a294c52e0672",
              "name": "link",
              "value": "={{ $('Loop Over Items').item.json.link }}",
              "type": "string"
            },
            {
              "id": "d6baa38d-bfd0-4e8b-8921-9a2822000681",
              "name": "snippet",
              "value": "={{ $('Loop Over Items').item.json.title }}",
              "type": "string"
            },
            {
              "id": "05ce3299-cb70-457a-8b5b-84a7b0d9a6ee",
              "name": "summary",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "035ec82c-1df9-4ffb-9a93-629658e8fc99",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        300
      ],
      "id": "03e7d4ea-327d-4fcc-8a69-c22e06cba98e",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bdb6c489-9519-46b8-b814-db296c07cfe7",
              "name": "=id",
              "value": "= {{ $itemIndex + 1 }}",
              "type": "string"
            },
            {
              "id": "7717a066-2256-4033-b7d6-9bff834eb359",
              "name": "title",
              "value": "={{ $('Google Search').item.json.title }}",
              "type": "string"
            },
            {
              "id": "241c0352-d4c3-4869-832a-cba16f95602e",
              "name": "summary",
              "value": "={{ $json.summary }}",
              "type": "string"
            },
            {
              "id": "03fe129a-d8b2-4fb6-8af2-16fe29fab4ee",
              "name": "=source",
              "value": "={{ $('Google Search').item.json.displayLink }}",
              "type": "string"
            },
            {
              "id": "2413ea39-6ae8-44c4-9d23-d42965131844",
              "name": "=url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "1febc2bd-e83c-4f90-84cd-212f7794e098",
              "name": "=date",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        200
      ],
      "id": "e7bae36b-28fe-4be3-b224-c28a22ddea5a",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "dmoore62",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "orlando-tech-buzz",
          "mode": "list",
          "cachedResultName": "orlando-tech-buzz",
          "cachedResultUrl": "https://github.com/dmoore62/orlando-tech-buzz"
        },
        "filePath": "db/news.json",
        "binaryData": true,
        "commitMessage": "New News!"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        540,
        0
      ],
      "id": "661de525-99f6-475b-9560-443ffe6301a3",
      "name": "GitHub",
      "webhookId": "b8e6fd11-a283-4c89-9010-8006f2ff5082",
      "credentials": {
        "githubApi": {
          "id": "874WCxSbfZDTalbS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -820,
        320
      ],
      "id": "306b822c-9b58-4460-8b93-c8db24d48f1c",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        180,
        40
      ],
      "id": "ab71419e-7bc0-4ac4-9054-9aa6647383f6",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Search": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "main": [
        []
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7a3cd2ef-d7d4-4ae4-8650-ca7c5dd584c2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a925901767b9210232d2c3ef7d670072f8c8cd2c41d8eb8186864aec870beef7"
  },
  "id": "LGsujIs11SI1hUAA",
  "tags": []
}